fastapi
uvicorn[standard]
python-multipart
requests
python-dotenv

# Speech-to-text
openai-whisper

# ML / translation
torch>=2.3.1
signwriting-translation @ git+https://github.com/sign-language-processing/signwriting-translation.git

# Ensures an ffmpeg binary is available on Windows if not installed system-wide
imageio-ffmpeg
